.call__canvas-container {
  width: 100%;
  height: 201px;  // keep this in sync with dimensions in js/ui/call.js
  position: relative;

  > canvas {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
  }
}
