$md-sidenav-locked-open-width: 304px;
.content-container {
  &.sidenav-locked-open {
    padding-left: $md-sidenav-locked-open-width;
  }
  flex: 1;
}

.main-container {
  width: 100%;
  position: relative;
  flex: 1;
}
