$md-sidenav-locked-open-width: 304px;
$metadata-height: 7rem;


.content-container {
  @include reserve-space-for-locked-sidenav;

  flex: 1;
  padding-top: $metadata-height / 2;
}

.main-container {
  width: 100%;
  position: relative;
  flex: 1;
  padding: 8px;
}

#metadata {
  display: flex;
  flex-direction: row;
  z-index: 1;
  overflow: visible;
  position: absolute;
  bottom: -$metadata-height / 2;
  width: 100%;
  padding: 0 8px;
}

#metadata.sidenav-locked-open {
  padding-left: 8px + $md-sidenav-locked-open-width;
}

.metadata__image {
  width: $metadata-height;
  height: $metadata-height;
  border-radius: 50%;
  border: 2px solid black;
  background-size: 100%;
}

.metadata__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.metadata__text__other {
  flex: 1;
}

.metadata__text__title-container {
  flex: 1;
  position: relative;
}

.metadata__text__other,
.metadata__text__title-container {
  padding-left: 0.5rem;
}

.metadata__text__title {
  position: absolute;
  bottom: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
}
