.config {
  min-width: 500px;
}

.config__toolbar__icon {
  margin: 0px 10px 0px 10px;
}

.config__content {
  padding: 10px;
  overflow: hidden;
}

.config__content__value {
  font-weight: bold;
}

.config__preference--switch {
  display: flex;
  align-items: center;
}

.config__preference__desc {
  flex: 1 0 auto;
}

.config__preference__switch {
  flex: 0 0;
}

.config__submit {
  float: right;
}
