#transport {
  margin-top:2rem;
  width: 100%;
}

.transport__canvas-container {
  width: 100%;
  height: 3rem;

  > canvas {
    width: 100%;
    height: 100%;
  }
}

.transport__play__icon {
  font-size: 2rem;
}

.transport__volume {
  width: 5em;
}
