<?xml version='1.0' encoding='utf-8'?>
<widget id="moe.lovecall.android" version="0.1.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LoveCall</name>
    <description>
      LoveCall Android app
    </description>
    <author email="starkyds@aliyun.com" href="http://home.lovecall.moe">
        LoveCallProject
    </author>
    <content src="index.html"/>
    <access origin="*" />
</widget>
