<md-dialog class="config">
  <md-toolbar class="config__toolbar" layout="row" layout-align="start center">
  <md-icon
      md-font-library="material-icons"
      class="config__toolbar__icon"
      >
    settings
  </md-icon>
  <h2>设置</h2>
  <span flex></span>
  <md-button class="md-icon-button" ng-click="close()">
    <md-icon md-font-library>close</md-icon>
  </md-button>
  </md-toolbar>

  <md-dialog-content class="config__content">
  <form>
    <p>音频缓冲区大小<span class="config__content__value">   {{ bufferSize }}</span></p>
    <md-radio-group ng-model="bufferSize">
      <md-radio-button value="512">512</md-radio-button>
      <md-radio-button value="1024">1024</md-radio-button>
      <md-radio-button value="2048">2048</md-radio-button>
      <md-radio-button value="4096">4096</md-radio-button>
    </md-radio-group>
    <hr />
    <md-button class="config__submit md-raised md-primary" ng-click="submit(bufferSize)">
      确定 
    </md-button>
  </form>
  </md-dialog-content>
</md-dialog>
