<!DOCTYPE html>
<!--
  This file is part of LoveCall.

  LoveCall is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  LoveCall is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with LoveCall.  If not, see <http://www.gnu.org/licenses/>.
-->
<html lang="en" id="appmount">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>ラブコール</title>

</head>
<body>
  <section
      data-ng-controller="NavigationController"
      >
    <md-toolbar
        layout="row" layout-align="start center"
        >
      <md-button hide-gt-md data-ng-click="showSide()">
        <md-icon md-font-library="material-icons">menu</md-icon>
      </md-button>
      <h3>LoveCall</h3>
    </md-toolbar>

    <md-sidenav
        id="sidenav"
        class="md-sidenav-left md-whiteframe-z2"
        md-component-id="sidenav"
        md-is-locked-open="$mdMedia('gt-md')"
        >
      <md-toolbar layout="row" layout-align="start center">
        <md-button data-ng-click="closeSide()">
          <md-icon md-font-library="material-icons">arrow_back</md-icon>
        </md-button>
        <h3>LoveCall</h3>
      </md-toolbar>
      <md-list>
        <md-list-item>
          <md-button class="line-button">
            <md-icon class="inline" md-font-library="material-icons">
              open_in_browser
            </md-icon>
            <span>Import</span>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button class="line-button">
            <md-icon class="inline" md-font-library="material-icons">
              feedback
            </md-icon>
            <span>Feedback</span>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button class="line-button">
            <md-icon class="inline" md-font-library="material-icons">
              info
            </md-icon>
            <span>About</span>
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>
  </section>

  <md-content
      class="content-container"
      data-ng-controller="ContainerController"
      data-ng-class="{'sidenav-locked-open': $mdMedia('gt-md')}"
      layout-margin layout="column"
      layout-align="start center"
      >
    <section
        id="transport"
        data-ng-controller="TransportController"
        >
      <div class="transport__canvas-container">
      </div>
      <md-button
          class="transport__play md-icon-button md-primary"
          data-ng-disabled="!isLoaded"
          data-ng-click="togglePlay()"
          >
        <md-icon
            class="transport__play__icon inline"
            data-md-font-library="material-icons"
            >
          {{playButtonIcon}}
        </md-icon>
      </md-button>
      <md-slider
          class="transport__volume"
          data-ng-model="volumePercentage"
          aria-label="Volume control"
          >
      </md-slider>
    </section>

    <div data-ng-controller="DemoController">
    </div>
  </md-content>

<script src="snowhare.js"></script>
<script src="/assets/bundle.js"></script>
<!-- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8: -->
</body>
</html>
