body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  @mixin reserve-space-for-locked-sidenav;

  flex: 1;
  padding-top: $metadata-height / 2;
  background-image: url('images/background.jpg');
  background-size: cover;
}

.main-container {
  width: 100%;
  position: relative;
  flex: 1;
  padding: 8px;
}
