#sidenav {
  position: absolute;
  top: 0;
  left: 0;
  .md-button,.md-ripple-container{
    border-radius: 0;
  }
}

md-icon.inline {
  display: inline-block;
}

.hidden-button {
  visibility: hidden;
}

.hidden-android {
  display: none;
}

.line-button {
  width: 100%;
  margin: 0;
  padding: 0.3rem 0 0.3rem 1rem;
  text-align: left;
  font-size: 18px;
  md-icon {
    font-size: 30px;
  }
}

.toolbar-container {
  height: $toolbar-height;
  position: relative;
  /* TODO */
  background: #333;
  overflow-y: visible;
}

#toolbar {
  background: none;

  @mixin sidenav-locked-open-aware {
    display: none;
  }
}
