#transport {
  margin-top:2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  /* padding is necessary because position is absolute */
  padding: 0 8px 8px;
}

.transport__canvas-container {
  width: 100%;
  height: 3rem;

  > canvas {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

#transport__play {
  display: flex;
  margin: auto;
}

.transport__volume {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  right: 2rem;
  md-slider {
    width: 5rem;
  }
}
